.statsContainer {
  margin: 1rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  border: 1px solid #eee;
  padding: 1rem 2rem;
  border-left-width: 2px;
  border-left-color: #bdbdbd;
  margin-bottom: 30px;
}

.charts {
  margin: 1rem 2rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
  .charts {
    grid-template-columns: 1fr;
  }

  .statsContainer {
    grid-template-columns: 1fr;
  }
}
