.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 8rem 1rem;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .turbine {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 480px) {
  .gridContainer {
    margin-top: -30px;
    padding: 5rem 1rem;
  }
}

.turbine {
  margin-top: -50px;
}
