.maintenance {
  background-color: #f7f9fb;
}

.contenContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  padding-bottom: 5rem;
}

@media screen and (max-width: 480px) {
  .maintenance {
    padding: 0rem;
  }
}

@media screen and (max-width: 480px) {
  .contenContainer {
    grid-template-columns: 1fr;
  }

  .alignCardsMobile {
    margin-top: 200px;
  }
}
